/Install/Examples
/Install/Outputs
/Install/Plugins
/Install/Qml
/Install/logfile.txt
/Install/mediaservice
/Install/platforms
Additional_*
*.obj
*.lastbuildstate
*.log
*.exe
*.res
*.ilk
*.pdb
*.tlog
*.dll
*.exp
*.lib
*.pch
*.vcxproj.user
*.unsuccessfulbuild
*logfile.txt
Build_MSVC
*.opensdf
*.sdf
*.suo
